@(product: Product)

@import helper._
@import helper.twitterBootstrap._

@main("Product form") {
    <h3>@product.name</h3>

    <p>Name: @product.name</p>
    <p>Description: @product.description</p>
    <p>Price: @product.price</p>


    <a href="@routes.Products.edit(product)" class="btn btn-primary">Edit</a>
    <a href="@routes.Products.list()" class="btn btn-primary">Back</a>
}