@(tags: List[Tag])

@main("Products catalogue") {
    <h1>All tags</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        @for(tag <- tags) {
                <td>
                    <a href="@routes.Tags.detail(tag)">@tag.name</a>
                </td>
        }
        </tbody>
    </table>
    <a href="@routes.Products.list()" class="btn btn-primary">Back</a>
}