@()
<nav class="navbar navbar-inverse" id="navigation">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="@routes.Application.index()"><span class="glyphicon glyphicon-home"></span> Trang chủ</a> </li>
            <li><a href="@routes.Products.list()">Products</a> </li>

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                ĐIỆN THOẠI<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">iPhone 6</a></li>
                <li><a href="#">SamSung</a></li>
                <li><a href="#">LG</a></li>
                <li><a href="#">Sony</a></li>
            </ul>
            </li>
            <li><a href="">DỊCH VỤ</a> </li>
            <li><a href="">LẮP ĐẶT PHÒNG NET</a> </li>
            <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> LIÊN HỆ</a> </li>


            <ul class="nav navbar-nav navbar-right">
            @if(session.get("email")== null) {
                <li><a href="@routes.Application.login()">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a></li>
            } else {
                <li><a href=""><span class="glyphicon glyphicon-user"></span> @session.get("email")</a></li>
            }
            </ul>

            <ul class="nav navbar-nav navbar-right">
            @if(session.get("email") != null) {
                <li><a href="@routes.Application.logout()">
                    <span class="glyphicon glyphicon-log-out"></span>Logout
                </a></li>
            }
            </ul>
        </ul>
    </div>
</nav>