@(Tag_Product: List[Product])

@import helper._
@import helper.twitterBootstrap._

@main() {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Image</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- Tag_Product) {
            <tr>
                <td>@product.name</td>
                <td><a href="@routes.Products.details(product)">@product.price</a></td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Tags.listTags()" class="btn btn-primary">Back</a>
}